
<div class="sidebar-adjust">&nbsp;</div>
                    <div class="sidebar-logo">
                        <a href="/"><img src="/images/ui/logo.png" alt="sidebar-logo"></a>
                    </div>
                    <div class="sidebar-item" id="a1">
                        <a href="/">
                            <i class="fa-solid fa-house fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Home</p>
                        </a>
                    </div>
                    <div class="sidebar-item" id="a2">
                        <a href="/message">
                            <i class="fa-regular fa-message fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Messages</p>
                        </a>
                    </div>
                    <div class="sidebar-item" id="a3">
                        <a href="./notifications.html">
                            <i class="fa-regular fa-heart fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Notifications</p>
                        </a>
                    </div>
                    <div class="sidebar-item" id="a4">
                        <a href="/people/all">
                            <i class="fa-solid fa-users fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">People</p>
                        </a>
                    </div>

                    <div class="sidebar-item" id="a5">
                        <a href="/post/add">
                            <i class="fa-solid fa-square-plus fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Create</p>
                        </a>
                    </div>
                    
                    <div class="sidebar-item" id="a6">
                        <a href="/<%=user.username%>">
                            <i class="fas fa-user-tie fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Profile</p>
                        </a>
                    </div>

                    <div class="sidebar-item" id="a7">
                        <a href="/logout">
                            <!-- <i class="fas fa-user-tie fa-sm sidebar-icon"></i> -->
                            <i class="fas fa-solid fa-power-off fa-sm sidebar-icon"></i>
                            <p class="sidebar-text">Logout</p>
                        </a>
                    </div>
  
                    <div class="sidebar-adjust">&nbsp;</div>
