.profile-name-text{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}
.post-text{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 0px;
}